<h2>New Post</h2>
 
<%= form_with model: @user do |form| %> 
    <%= label_tag(:title, "Title:") %><br> 
    <%= form.text_field :title %><br><br> 
    <%= label_tag(:content, "Content:") %><br> 
    <%= form.text_area :content %><br><br> 
    <%= form.submit :Submit %> 
<% end %> 
